.by-form {
  --error-color: #fa5454;
  --error-color-light: #ff7373;
  .by-btn {
    --by-btn-width: 100%;
    --by-btn-height: 30px;
  }
  grid-gap: 27px;
  display: grid;
  max-width: 225px;
  .by-form-input-row {
    display: grid;
    grid-gap: 1rem;
    .by-input-container {
      display: grid;
      align-items: stretch;
      position: relative;
      input {
        font-size: 0.875rem;
        font-weight: bold;
        border: 0;
        outline: 0;
        background: var(--primary-bg);
        border-radius: 5px;
        font-family: var(--primary-font);
        padding: 0.8125rem;
        height: 30px;
        &::placeholder {
          color: #a3a3a3;
          font-family: var(--primary-font);
        }
      }
      textarea {
        font-size: 0.875rem;
        padding: 0.8125rem;
        font-weight: bold;
        border: 0;
        outline: 0;
        background: var(--primary-bg);
        border-radius: 14px;
        font-family: var(--primary-font);
        resize: none;
        &::placeholder {
          color: #a3a3a3;
          font-family: var(--primary-font);
          transition: border-color 0.25s, color 0.25s;
        }
        border: 1px solid var(--primary-bg);
        transition: border-color 0.25s, color 0.25s;
      }
      .by-input-error {
        height: 0px;
        color: var(--error-color-light);
        width: 100%;
        font-size: 0.75rem;
        font-weight: bold;
        padding: 0.325rem 0.8125rem 0 0.8125rem;
      }
    }
    &.by-form-input-error {
      .by-input-container {
        input {
          border: 1px solid var(--error-color);
          &::placeholder {
            color: var(--error-color);
            font-family: var(--primary-font);
          }
        }
        textarea {
          border: 1px solid var(--error-color);
          &::placeholder {
            color: var(--error-color);
            font-family: var(--primary-font);
          }
        }
        .by-input-error {
          height: 0;
          color: var(--error-color-light);
          width: 100%;
          font-size: 0.75rem;
          font-weight: bold;
          padding: 0.5125rem 0.8125rem;
        }
      }
    }
  }
  .by-form-label {
    font-size: 1.125em;
    font-family: var(--primary-font);
    color: var(--primary-color-link-hover);
    font-weight: bold;
    padding-left: 9px;
  }
}
