.App-contacts-content {
  --primary-color-title: #eaeaea;
  display: grid;
  grid-template-columns: 522px 1fr;
  .App-contacts-info {
    margin-right: 230px;
    display: grid;
    align-self: center;
    grid-gap: var(--medium-margin);
    text-transform: uppercase;
  }
  .by-title-block {
    h1 {
      margin: 0;
    }
  }
  .by-phone {
    text-decoration: none;
    font-size: var(--title-font-size);
    color: var(--primary-color-title);
    font-weight: bold;
  }
  .by-email {
    text-decoration: none;
    font-size: var(--title-font-size);
    color: var(--primary-color-title);
    font-weight: bold;
  }
}
