.App-news {
  padding-top: var(--medium-margin);
  grid-template-columns: 1fr 1fr;
  display: grid;
  max-width: 781px;
  grid-gap: 169px;
  margin: 0 auto;
  left: 50px;
  position: relative;
  .by-news-info {
    display: grid;
    grid-template-rows: auto 1fr;

    .App-social-icons {
      --by-wrapper-icon-social-border: 2px solid #eaeaea;
      --by-wrapper-icon-social-border-radius: 6px;
      --by-wrapper-icon-social-bg: #f6f6f6;
      --by-wrapper-icon-social-fill: #303030;

      --by-wrapper-icon-social-border-hover: 2px solid #f6f6f6;
      --by-wrapper-icon-social-border-radius-hover: 6px;
      --by-wrapper-icon-social-bg-hover: #ffc19e;
      --by-wrapper-icon-social-fill-hover: #303030;

      --by-wrapper-icon-social-width: 40px;
      --by-wrapper-icon-social-height: 40px;

      display: grid;
      align-items: center;
      justify-content: flex-start;
      grid-gap: 25px;
      grid-auto-flow: column;
      align-self: flex-end;
      font-size: 26px;
    }
  }
  .by-consult {
    margin-right: -10px;
  }
  .by-title-text {
    margin: 0;
  }
}
