.by-consult {
  font-size: var(--desc-font-size);
  color: var(--primary-color-text);
  .by-consult-text {
    margin-top: 0;
    margin-right: var(--medium-margin);
  }
  .by-btn {
    margin-top: var(--large-margin);
    --by-btn-font-color: var(--primary-color-text);
    --by-btn-bg-color: #ffc19e;
    --by-btn-bg-color-hover: #e2c2ca;
    --by-btn-bg-color-active: #e2c2ca;
    --by-btn-width: 167px;
    --by-btn-height: 30px;
    font-size: 13px;
    font-weight: bold;
  }
}
