.by-text-block {
  .by-title-text {
    font-size: var(--title-font-size);
    font-weight: bold;
    color: var(--primary-color-title);
  }
  .by-description-text {
    font-size: var(--desc-font-size);
    font-weight: normal;
    color: var(--primary-color-title);
  }
  .by-btn {
    --by-btn-font-color: var(--primary-color-text);
    --by-btn-bg-color: #ffc19e;
    --by-btn-bg-color-hover: #f7b699;
    --by-btn-bg-color-active: white;
    --by-btn-width: 117px;
    --by-btn-height: 30px;
    font-weight: bold;
  }
}
