.by-title-text {
  font-size: var(--title-font-size);
  font-weight: bold;
  color: var(--primary-color-title);
}
.by-description-text {
  font-size: var(--desc-font-size);
  font-weight: normal;
  color: var(--primary-color-text);
}
.by-btn {
  --by-btn-font-color: var(--primary-color-text);
  --by-btn-bg-color: #ffc19e;
  --by-btn-bg-color-hover: #e2c2ca;
  --by-btn-bg-color-active: #e2c2ca;
  --by-btn-width: 117px;
  --by-btn-height: 30px;
  font-weight: bold;
}

// .description {
//   .description-content {
//     display: grid;
//     @media all and (max-width: $md) {
//       grid-gap: 20px;
//     }
//     grid-gap: 25px;
//   }
//   display: grid;
//   .title {
//     a {
//       color: $text-main;
//       @extend %link;
//     }
//   }
//   &.icon-left {
//     .description-content {
//       display: grid;
//       @media all and (max-width: $md) {
//         grid-gap: 20px;
//       }
//       grid-gap: 14px;
//     }
//     @media all and (max-width: $md) {
//       grid-template-columns: 32px 1fr;
//     }
//     grid-gap: 13px 22px;
//     grid-template-columns: 42px 1fr;
//     .title {
//       @media all and (max-width: $md) {
//         margin-top: 4px;
//       }
//     }
//     .icon {
//       margin-left: 14px;
//       width: 28px;
//       height: 28px;
//       padding: 0;
//       background: $color-accent;
//       border-radius: 14px;
//       font-size: 28px;
//       display: grid;
//       justify-content: center;
//       align-content: center;
//       &::before {
//         color: $text-inverse-main;
//       }
//     }
//     ul {
//       grid-column: 2;
//       margin-bottom: 0;
//     }
//     .button-component {
//       grid-column: 2;
//       margin-bottom: 0;
//       width: 186px;
//     }
//   }
//   &.icon-top {
//     grid-gap: 13px;
//     .icon {
//       height: 40px;

//       img {
//         max-width: 40px;
//         max-height: 40px;
//         object-fit: contain;
//         object-position: left top;
//       }
//     }
//   }
//   &.default {
//     .title {
//       @extend %text-h2;
//     }
//     .desc {
//       @extend %text-big;
//     }
//     @media all and (max-width: $md) {
//       grid-gap: 20px;
//     }
//     grid-gap: 20px;
//   }
//   &.big {
//     .title {
//       @extend %text-h1;
//     }
//     .desc {
//       @extend %text-big;
//     }
//     display: grid;
//     grid-gap: 20px;
//   }
//   &.small {
//     .title {
//       @extend %text-h3;
//     }
//     .desc {
//       @extend %text-big;
//       p {
//         margin-top: 0;
//         margin-bottom: 0;
//       }
//       p + p {
//         margin-top: 10px;
//       }
//     }
//     @media all and (max-width: $md) {
//       grid-gap: 10px 20px;
//     }
//     grid-gap: 25px;
//   }
//   &.mini {
//     .title {
//       @extend %text-h3;
//     }
//     .desc {
//       @extend %text-default;
//     }
//   }
//   &.desc-small {
//     .desc {
//       @extend %text-default;
//     }
//   }
//   .more {
//     @extend %text-h3;
//   }
//   ul.is-horizontal {
//     grid-auto-flow: column;
//   }
// }
